#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Discord Canary Updater
Comment=Discord auto updater for Debian-based distributions
Exec=/usr/local/bin/discord-updater-gui -rd -ni canary
Icon=/usr/local/share/discord-updater/icon/dau_canary.png
Terminal=false
Type=Application
Categories=Network;